$columns: 12 !default;
$gutter: 20px !default;

$xx-small: 360px !default;
$x-small: 480px !default;
$small: 600px !default;
$medium: 960px !default;
$large: 1080px !default;
$x-large: 1260px !default;
$xx-large: 1360px !default;


$breakpoints: (
  xx-small: $xx-small,
  x-small: $x-small,
  small: $small,
  medium: $medium,
  large: $large,
  x-large: $x-large,
  xx-large: $xx-large
);

@lost flexbox flex;

@for $i from 1 through $columns {
  .col-#{$i} {
    lost-column: $i/12;
    margin: 0 auto 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    > * {
      margin-bottom: 1.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@each $size, $breakpoint in $breakpoints {
  @for $i from 1 through $columns {
    .col-#{$i}-#{$size} {
      margin: 0 auto 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      > * {
        margin-bottom: 1.25rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media screen and (min-width: $breakpoint) {
      .col-#{$i}-#{$size} {
        lost-column: $i/12;
        margin-bottom: 0;
        display: block;
      }
    }
  }
}


.row {
  display: flex;
  flex-wrap: wrap;

  *:not(button) {
    width: 100%;
  }
}

.spacer {
  margin: 0 auto 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

[class*='col-'] {
  img {
    width: 100%;
  }
}