<section>
  <div class="container">
    <div class="row">
      <div class="col-5 col-centered">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input formControlName="username" type="text" matInput placeholder="Username">
            <mat-error *ngIf="f.username.errors.required">Your username is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="password" type="password" matInput placeholder="Password">
          </mat-form-field>
          <button [disabled]="loading" mat-button mat-raised-button color="primary" class="right">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>