<section>
  <div class="container">
    <div class="row">
      <div class="col-4 col-centered">
        <h1>Sign up</h1>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="field-container">
            <mat-form-field>
              <input formControlName="name" matInput placeholder="Name">
            </mat-form-field>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf="f.name.errors.required">Your name is required</div>
            </div>
          </div>
          <div class="field-container">
            <mat-form-field>
              <input formControlName="username" matInput placeholder="Username">
            </mat-form-field>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              <div *ngIf="f.username.errors.required">Your name is required</div>
            </div>
          </div>
          <div class="field-container">
            <mat-form-field>
              <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="field-container">
            <mat-form-field>
              <input formControlName="password" type="password" matInput placeholder="Password">
            </mat-form-field>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="field-container">
            <button [disabled]="loading"  mat-raised-button color="primary" class="right">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>